.organization {
    display: flex;
}

.dateWorking {
    background-color: cornflowerblue;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
}

.organizationDescription {
    background-color: #95aa5d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
}