.heading {
    margin: 50px 20px 0 20px;
    display: flex;
    background-color: #fff;
    padding: 0 0 10px 20px;
}

.info {
    display: flex;
    justify-content: space-around;
    background-color: crimson;
    margin:0 20px 0 20px;
    align-items: center;
    min-height: 50vh;
    /*flex-flow: row wrap;*/
}

.photo {
    background-color: #c3ec8f;
    height: 30vh;
    width: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    background-color: #c47a7a;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 27vw;
    min-height: 35vh;
}

.myData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

span {
    margin: 10px 0 10px 0;
}

p {
    text-align: start;
}

@media all and (max-width: 700px) {
    .info{
        flex-direction: column;
    }
    .data{
        width: 45vw;
        margin:10px 0 10px 0;
    }
    .photo{
        width: 45vw;
        height: 30vh;
        margin:10px 0 10px 0;
    }
}
