.heading {
    margin: 50px 20px 0 20px;
    display: flex;
    background-color: #fff;
    padding: 0 0 10px 20px;
}

.info {
    display: flex;
    justify-content: space-around;
    background-color: crimson;
    min-height: 450px;
    margin:0 20px 0 20px;
    align-items: center;
    flex-flow: row wrap;
}

.photo {
    background-color: #c3ec8f;
    min-height: 330px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    background-color: #c47a7a;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 450px;
    min-height: 330px;
}

.myData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

span {
    margin: 10px 0 10px 0;
}

p {
    text-align: start;
}