.informationPhone{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.phoneInfo{
    background-color: blue;
    display: flex;
    margin: 0 20px 0 50px;
    flex-direction: column;
    align-items: flex-start;
    min-width: 40%;
    max-width: 50%;
}

.informationEmail{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.emailInfo{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 40%;
    max-width: 50%;
    margin: 0 20px 0 50px;
}

.informationAddress{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.addressInfo{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 40%;
    max-width: 50%;
    margin: 0 20px 0 50px;
}

.paragraph{
    word-wrap: break-word;
    white-space: pre-line;
}

.iconInfo{
    width: 50px;
    height: 50px;
    background-color: #57baa1;
}

