@import 'src/CommonStyles/CommonStyles.module';

.projectsBox{
  @include containerPartOf();
  padding-bottom: 120px;

  .container{
    @include container();

    .title{
      @include titleH2();
    }

    .row{
      @include rowMarg();

      .projectContainer{
        @include rowPad();
        flex: 0 0 auto;
        width: 100%;

        @media (min-width: 992px) {
          flex: 0 0 auto;
          width: 50%;
        }
        margin-top: 30px;

        .project{
          visibility: visible;
          opacity: 1;
          transition: all .4s ease-out;

          .imgProject{
            &:before{
              content: "";
              position: absolute;
              left: 15px;
              top: 15px;
              height: calc(100% - 30px);
              width: calc(100% - 30px);
              background: hsla(0,0%,100%,.9);
              transition: all .4s ease-out;
              transform: scaleX(0);
              transform-origin: 0;
            }

            display: block;
            position: relative;

            img{
              width: 100%;
              max-width: 100%;
              vertical-align: middle;
            }
          }

          h5{
            @include h5();

            @media only screen and (max-width: 767px) {
              font-size: 1.23rem;
              line-height: 2.04rem;
            }
              a{
                color: #fff;
                transition: all .4s ease-out;
                cursor: pointer;
                text-decoration: none;
              }
          }
          h6{
            @include h6();
            color:$ColorText;
          }
        }
      }
    }
  }
}