.skill{
    background-color: blue;
    min-width: 45%;
    min-height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.skillPercentAndScale{
    background-color: #e2b3f8;
    min-width: 100%;
    display:flex;
    justify-content: space-around;
}