.services{}

.heading {
    margin: 50px 20px 0 20px;
    display: flex;
    background-color: #fff;
    padding: 0 0 10px 20px;
}

.blocksServices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c3ec8f;
    margin: 0 20px 50px 20px;
    min-height: 40vh;
}

@media all and (max-width: 800px) {
    .blocksServices{
        flex-direction: column;
    }
}
