.services{}

.heading {
    margin: 50px 20px 0 20px;
    display: flex;
    background-color: #fff;
    padding: 0 0 10px 20px;
}

.blocksServices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c3ec8f;
    height: 450px;
    margin: 0 20px 50px 20px;
}
