@import "src/CommonStyles/CommonStyles.module";


.services {
  @include containerPartOf();
  padding-bottom: 120px;

  .container {
    @include container();

    .title {
      @include titleH2();
    }

    .servicesContainer {

      .row {
        @include rowMarg();

        margin-top: -30px;

        .serviceBox {
          @include boxElement();


          .myService {
            border: 1px solid $ColorBorder;
            border-top: 5px solid $ColorBorder;
            padding: 30px;
            background: $ColorBackNav;
            transition: all .4s ease-out;

            @media only screen and (max-width: 575px) {
              padding: 20px;
            }

            @media only screen and (min-width: 1200px) and (max-width: 1599px) {
              padding: 20px;
            }

            span {
              margin-bottom: 20px;
              display: inline-block;
              color: #037fff;
              font-size: 2.5rem;
            }

            h5 {
              &:before {
                content: "";
                position: absolute;
                left: 0;
                top: auto;
                bottom: 0;
                height: 2px;
                width: 50px;
                background: $ColorBorder;
              }

              @include h5();

              @media only screen and (max-width: 767px) {
                font-size: 1.23rem;
                line-height: 2.04rem;
              }
            }

            p {
              @include p();
            }
          }
        }
      }
    }
  }
}