.name{
    background-color: #ace8d9;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 5px 0;
}

.email{
    background-color: #ace8d9;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0 5px 0;
}

.subject{
    background-color: #ace8d9;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0 5px 0;
}

.message{
    background-color: #ace8d9;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0 10px 0;
}