.block{
    display: flex;
    flex-direction: column;
    background-color: #ace8d9;
    min-height: 10vh;
    min-width: 30%;
    word-wrap: break-word;
}

@media all and (max-width: 800px) {
    .block{
        width: 65%;
        margin:10px 0 10px 0;
    }
}
